# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
*.egg
venv/
.venv/
env/

# Flask / SQLite
instance/
*.db
*.sqlite3

# Testing & Coverage
.pytest_cache/
reports/
htmlcov/
.coverage
coverage.xml

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Docker
.dockerignore

# Environment variables
.env
.env.local
.env.production

# Jenkins
.jenkins/
